<section class="arenda">
    <div class="container">
        <div class="arenda_btn_div">
        <button class="arenda-button">АРЕНДОВАТЬ</button>
        <button class="arenda-button" style="background-color: rgb(207, 6, 6);">
           <a href="/" style="color: black;">ОТМЕНИТЬ</a>
            </button>
        </div>
        <div class="arenda_box">
            <img src="/uploads/{{objects.image}}" alt="rasm qani">

            <div class="arenda_div">
                <h2 class="arenda-name">{{objects.name}}</h2>
                <hr class="arenda-hr">
                <p class="arenda-wolt">Вольт: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{objects.wolt}}</p>
                <hr class="arenda-hr">
                <p class="arenda-massa">Масса: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{objects.massa}} кг</p>
                <hr class="arenda-hr">
                <p class="arenda-price">Стоимость:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{objects.price}} Р</p>
                <hr class="arenda-hr">
                <p class="arenda-give">Доставка: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{objects.give}}</p>
                <hr class="arenda-hr">
            </div>


        </div>
    </div>
</section>

<section class="document">
    <div class="container">
        <div class="document-box">
            <h1 class="document-title">
                АРЕНДА ТЕПЛОВЫХ ПУШЕК, КОТЕЛЬНЫХ И ГЕНЕРАТОРОВ <br>
                В МОСКВЕ С ОБЛСУЖИВАНИЕМ
                <hr class="hr" style="border: 1px solid #ffad00;">
            </h1>

            <p class="document-text">
                Миссия компании Climat Trading направлена на
                поддержание темпов строительства значимых объектов,
                развитие инфраструктуры столицы и <br>
                регионов в зимнее время года. Парк нашей компании насчитывает более
                200 единиц техники, а это значит, что мы
                можем обеспечить теплом <br> помещения суммарным объемом более 10
                000 000 кубических метров. Комплексный подход,
                а также оперативность особенно важны для наиболее <br>
                эффективного расчета мощности, быстрого подбора, доставки
                и установки оборудования, а значит, для
                своевременной сдачи объектов нашими <br> заказчиками
            </p>
        </div>
    </div>
</section>


<div class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-div-1">

                <div class="footer-div-in-1">
                    <img src="./img/trading.png" alt="">
                    <p class="footer-name">Современные системы <br> обогрева</p>
                </div>


                <div class="footer-div-in-2">

                    <div class="footer-div-inin">
                        <i class='bx bx-phone'></i>
                        <p class="footer-name">+7 (499) 347-25-62</p>
                    </div>

                    <div class="footer-div-inin">
                        <i class='bx bx-envelope'></i>
                        <p class="footer-name">sales@climattrading.ru</p>
                    </div>
                </div>

                <div class="footer-div-in-2">
                    <div class="footer-div-inin">
                        <i class='bx bx-phone'></i>
                        <p class="footer-name">+7 (499) 347-25-62</p>
                    </div>

                    <div class="footer-div-inin">
                        <i class='bx bx-time'></i>
                        <p class="footer-name">24/7</p>
                    </div>
                </div>


                <div class="footer-div-in-3">

                    <button class="footer-btn">заказать обогрев</button>
                </div>
            </div>


            <div class="footer-div-d">
                <li class="header-item"><a href="/" class="header-href">ОСНОВНОЙ</a></li>
                <li class="header-item"><a href="/add" class="header-href">ДОБАВИТЬ ОБЪЕКТ</a></li>
                <li class="header-item"><a href="/video" class="header-href">ВИДЕО</a></li>
                <li class="header-item"><a href="/object" class="header-href">ОБЪЕКТЫ</a></li>
                <li class="header-item"><a href="/about" class="header-href">О НАС</a></li>
                <li class="header-item"><a href="/contact" class="header-href">КОНТАКТЫ</a></li>
            </div>

            <div class="footer-div-5">
                © climat-trading.ru Политика конфиденциальности <br>
                Заполняя любую форму обратной связи на нашем сайте,
                вы соглашаетесь на обработку ваших персональных <br>
                данных. Вся информация, размещенная на сайте, носит
                ознакомительный характер и не является публичной
                офертой, определяемой положением
            </div>
        </div>
    </div>
</div>