<form action="/edit/{{object.id}}" method="POST" class="form-box" enctype="multipart/form-data">

    <input type="file" name="image" placeholder="Название">
    <input type="text" name="name" placeholder="Название" value="{{object.name}}" required>
    <input type="number" name="wolt" placeholder="Вольт" value="{{object.wolt}}" required>
    <input type="number" name="massa" placeholder="Масса" value="{{object.massa}}" required>
    <input type="number" name="price" placeholder="Цена" value="{{object.price}}" required>
    <input type="number" name="give" placeholder="Мощность" value="{{object.give}}" required>

    <button type="submit">Сохранить</button>

</form>


<div class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-div-1">

                <div class="footer-div-in-1">
                    <img src="./img/trading.png" alt="">
                    <p class="footer-name">Современные системы <br> обогрева</p>
                </div>


                <div class="footer-div-in-2">

                    <div class="footer-div-inin">
                        <i class='bx bx-phone'></i>
                        <p class="footer-name">+7 (499) 347-25-62</p>
                    </div>

                    <div class="footer-div-inin">
                        <i class='bx bx-envelope'></i>
                        <p class="footer-name">sales@climattrading.ru</p>
                    </div>
                </div>

                <div class="footer-div-in-2">
                    <div class="footer-div-inin">
                        <i class='bx bx-phone'></i>
                        <p class="footer-name">+7 (499) 347-25-62</p>
                    </div>

                    <div class="footer-div-inin">
                        <i class='bx bx-time'></i>
                        <p class="footer-name">24/7</p>
                    </div>
                </div>


                <div class="footer-div-in-3">

                    <button class="footer-btn">заказать обогрев</button>
                </div>
            </div>


            <div class="footer-div-d">
                <li class="header-item"><a href="/" class="header-href">ОСНОВНОЙ</a></li>
                <li class="header-item"><a href="/add" class="header-href">ДОБАВИТЬ ОБЪЕКТ</a></li>
                <li class="header-item"><a href="/video" class="header-href">ВИДЕО</a></li>
                <li class="header-item"><a href="/object" class="header-href">ОБЪЕКТЫ</a></li>
                <li class="header-item"><a href="/about" class="header-href">О НАС</a></li>
                <li class="header-item"><a href="/contact" class="header-href">КОНТАКТЫ</a></li>
            </div>

            <div class="footer-div-5">
                © climat-trading.ru Политика конфиденциальности <br>
                Заполняя любую форму обратной связи на нашем сайте,
                вы соглашаетесь на обработку ваших персональных <br>
                данных. Вся информация, размещенная на сайте, носит
                ознакомительный характер и не является публичной
                офертой, определяемой положением
            </div>
        </div>
    </div>
</div>